body.lost {
    height: 98dvh;
    background-image:url('/images/404.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
}
.lost-second-para {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.fly-out-menu-btn {
    padding: 0;
    position: fixed;
    right: 1.35rem;
    top: 1.35rem;
    margin: 0;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    user-select: none;
    display: block;
    font-size: x-large;
    padding-top: .25rem;
    text-align: center;
    border:1px solid #000;
    border-radius: .3rem;
}
.fly-out-menu-btn:after {
    content: '🥪';
}
.shadow{
    position: fixed;
    display: none;
    top:0;
    left:0;
    background-color: oklch(0% 0 0 / 75%);
    width:100dvw;
    height:100dvh;
    z-index: 2;
}
.menu {
    position: absolute;
    min-width: 320px;
    z-index: 3;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: white;
}
div.shadow:has(dialog.menu[open])  {
    display:block;
}
.close-menu {
    display: block;
    position: absolute;
    top:5px;
    right:5px;
    width: 2.5rem;
    height:2.5rem;
    padding-top: 0.12rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
}
.menu > ul , .menu > ul > li {
    list-style-type: none;
    list-style-position: inside;
}
.menu > ul> li:not(:first-child) {
    padding-top: 5px;
}
img.avatar{
    border-radius: 50%;
}
p:has(img){
    margin-left: 20px;
}
p:has(img)>img{
    margin-right: 20px;
}